<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- local database connection string. 로컬 데이터베이스 연결 문자열. -->
    <!--<add name="CloudBreadDBConString" connectionString="Server=(local);Database=yourdbname;User Id=youruserid;Password=yourpassword;" providerName="System.Data.SqlClient" />-->

    <!-- remote database connection string. 원격 데이터베이스 연결 문자열. -->
    <add name="CloudBreadDBConString" connectionString="" providerName="System.Data.SqlClient" />

    <!-- remote azure storage account connection string. 원격 azure 저장소 계정 연결 문자열. -->
    <add name="CloudBreadStorageConString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- Adding CloudBread configuration - 설정 추가 -->
    <add key="CloudBreadCryptSetting" value="AES256"></add>
    <add key="CloudBreadLoggerSetting" value="redis"></add>

    <!-- This is DB connection retry trial count. DB연결 재시도 수 -->
    <add key="CloudBreadconRetryCount" value="3"></add>
    <!-- This is DB connection retry trial wait second. In production environment, recommend change to 30 to handle throttling condition. DB연결 재시도 대기 시간 초. 프러덕션 환경에서는 스로틀링 핸들을 위해 30으로 설정 권장 -->
    <add key="CloudBreadconRetryFromSeconds" value="5"></add>

    <!-- This key for CloudBread-Socket project JWT token AES encryption. 이 키는 CloudBread-Socket 프로젝트 JWT 토큰 AES 암호화에 사용되는 값 -->
    <add key="CloudBreadSocketKeyText" value="1234567890123456"></add>
    <!-- This IV for CloudBread-Socket project JWT token AES encryption. 이 IV는 CloudBread-Socket 프로젝트 JWT 토큰 AES 암호화에 사용되는 값 -->
    <add key="CloudBreadSocketKeyIV" value="1234567890123456"></add>

    <!-- This key for connect CloudBread-Socket project JWT token save on Redis service. 이 키는 CloudBread-Socket 프로젝트 JWT 토큰을 저장하는 Redis에 연결 할때 사용되는 값 -->
    <add key="CloudBreadSocketRedisServer" value=""></add>

    <!-- This key for CloudBread leader board(ranking) service connection. 이 키는 leader board(ranking) 서비스 연결에 사용 -->
    <add key="CloudBreadRankRedisServer" value=""></add>
    <!-- This key is name of rank sortedset of redis. 이 키는 leader board(ranking) 서비스 연결에 사용되는 redis의 sorted set 이름 -->
    <add key="CloudBreadRankSortedSet" value="cbrank"></add>
    <!-- This key is name of rank sortedset of redis. 이 키는 leader board(ranking) 서비스 연결에 사용되는 redis의 sorted set 이름 -->
    <add key="CloudBreadFillRedisRankSetOnStartup" value="true"></add>
    
    <!-- This key for CloudBread leader logging service connection. 이 키는 게임 로그 서비스 연결에 사용 -->
    <add key="CloudBreadGameLogRedisServer" value=""></add>
    <!-- Default log data exp time days on cache. redis에 로그 데이터 기본 저장일 -->
    <add key="CloudBreadGameLogExpTimeDays" value="365"></add>

    <!-- End of CloudBread configuration - 설정 추가 끝 -->
    
    <!-- Use these settings for local development. After publishing to your
    Mobile App, these settings will be overridden by the values specified
    in the portal. -->
    <add key="SigningKey" value="Use App Service Authentication Signing Key here to validate tokens" />
    <add key="ValidAudience" value="https://{yoursite}.azurewebsites.net/" />
    <add key="ValidIssuer" value="https://{yoursite}.azurewebsites.net/" />

    <add key="PreserveLoginUrl" value="true" />
    <!-- Use these settings for local development. After publishing to your
    Mobile App, these settings will be overridden by the values specified
    in the portal. -->
    <add key="MS_SigningKey" value="Overridden by portal settings" />
    <add key="EMA_RuntimeUrl" value="Overridden by portal settings" />
    <!-- When using this setting, be sure to add matching Notification Hubs connection
    string in the connectionStrings section with the name "MS_NotificationHubConnectionString". -->
    <add key="MS_NotificationHubName" value="Overridden by portal settings" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xmlns:bcl="urn:schemas-microsoft-com:bcl">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>