<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이 작업에 대해 자세히 알아보려면 http://go.microsoft.com/fwlink/?LinkID=208121을 방문하십시오. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://techhdaysrr01.azure-mobile.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobile$TechhDaysRR01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mobile$TechhDaysRR01</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureMobileService</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CloudBread.CloudBreadDBContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CloudBread.CloudBreadDBContext, CloudBread" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CloudBreadDBConString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CloudBread.Models.MobileServiceContext, CloudBread" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CloudBreadStorageConString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=cloudbreadstorage;AccountKey=DOlxbd507Dzf2LhHIAFxc5veAuSOtGot4P5Ty76d6/OTgfO5KRgegYDGqrgOT/pB7IJPyRXVgdQsiqMIDWjI+Q==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CloudBreadStorageConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=cloudbreadstorage;AccountKey=DOlxbd507Dzf2LhHIAFxc5veAuSOtGot4P5Ty76d6/OTgfO5KRgegYDGqrgOT/pB7IJPyRXVgdQsiqMIDWjI+Q==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureTable" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=cloudbreadstorage;AccountKey=DOlxbd507Dzf2LhHIAFxc5veAuSOtGot4P5Ty76d6/OTgfO5KRgegYDGqrgOT/pB7IJPyRXVgdQsiqMIDWjI+Q==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureTable_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=cloudbreadstorage;AccountKey=DOlxbd507Dzf2LhHIAFxc5veAuSOtGot4P5Ty76d6/OTgfO5KRgegYDGqrgOT/pB7IJPyRXVgdQsiqMIDWjI+Q==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:o8kl08297p.database.windows.net,1433;Initial Catalog=CloudBreadDB;Integrated Security=False;User ID=konan@o8kl08297p;Password=!rjfejrthl94;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:o8kl08297p.database.windows.net,1433;Database=CloudBreadDB;User ID=konan@o8kl08297p;Password=!rjfejrthl94;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CloudBread.CloudBreadDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CloudBreadDBConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyConnectionString-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CloudBread.CloudBreadDBContext" />
  </ItemGroup>
</Project>